<h1><%= @recipe.name %></h1>
<br>
  <p><%= @recipe.desc %><p>
<br>
<h3>Ingredients</h3>
<br>
<ul><% @recipe.ingredients.each do |ingredient|%>
    <li><%= ingredient.recipes_ingredients_usages.first.quantity %>
    <span><%= ingredient.name %></li>
    <% end %>
</ul>
  <p>Add ingredient and quantity to recipe:</p>
<% form_for @ingredient, url_for(:recipes, :ingredients, recipe_id: @recipe.id)  do |f| %>
   <%= f.label :name %>
   <%= f.select(:id, :collection => @ingredients.to_a, :fields => [:name, :id]) %>
    <%= f.label :quantity %>
   <%= f.text_field :quantity %>
   <%= f.submit "add ingredient" %>
<% end %>


