<h1><%= @recipe.name %></h1>
<br>
  <p><%= @recipe.desc %><p>
<br>
<h3>Ingredients</h3>
<br>
  <p>Add ingredient to recipe</p>
<% @new_ingredient = Ingredient.new %>
<% form_for @new_ingredient, '/display_recipes'  do |f| %>
   <%= f.error_messages %>
   <%= f.label :name %>
   <%= f.text_field :name %>
   <%= f.submit "Create" %>
<% end %>


